svg {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 11pt;
 width: 100%;
 height: 85%;


}
  
  div.tooltip {	
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;		
    pointer-events: none;			
  }
#groups {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#groups td, #groups th {
    border: 1px solid #ddd;
    padding: 8px;
}

#groups th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFA500;
    color: white;