 body{
      font-family: 'EB Garamond', serif;
    font-weight: 300;
	  color: #000000;
    }

    p{
font-family: 'EB Garamond', serif;
	  color: #000000;
      font-size: 15pt;
font-weight: 300;
      margin-left:10px;
	 
    }
    .countries{
      stroke: #fff;
    }
    .legend rect{
      stroke: #000000;
    }

    .legend, .legend_title text{
      font-size:12pt;
	  color: #ffffff;
	  fill: #fff;
    }

    .barlabel {
      font-size:12pt;
      text-anchor: middle;
	  color: #ffffff;
	  fill: #fff;

    }
	.axis text {
  font: 10px sans-serif;
  fill: #fff;
}

.axis path,
.axis line {
  fill: #fff;
  
}
modal-header {
    padding: 2px 16px;
    background-color: #000000;
    color: black;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #fff;
    color: white;
}
h3{color:black;}